<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="header" id="header" style="background-color:black; color:white;">
      <nav class="navbar navbar-main navbar-shadow" role="navigation" id="slide-nav">
        <div class="container relative">
          <div class="navbar-header">
            <a class="navbar-logo" href="/">
            </a>
            <nav class="nav navbar-nav navbar-left">
              <span style="font-size:20px;">Bookers</span>
            </nav>
          </div>
          <div id="slidemenu">
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
             <% if user_signed_in? %>
              <li style="color:white;">
               <%= link_to 'Home', user_path(current_user), class:"glyphicon glyphicon-home home" %>
              </li>
              <li style="color:white;">
                <%= link_to 'Users', users_path, class:"glyphicon glyphicon-user users" %>
              </li>
              <li style="color:white;">
                <%= link_to "Books", books_path, class:"glyphicon glyphicon-book books" %>
              </li>
              <li style="color:white;">
                <%= link_to "logout", destroy_user_session_path, class:"glyphicon glyphicon-log-out logout", method: :delete %>
              </li>
            <% else %>
              <li style="color:white;">
               <%= link_to 'Home', top_user_path, class:"glyphicon glyphicon-home home" %>
              </li>
              <li style="color:white;">
                <%= link_to 'About', home_about_path, class:"glyphicon glyphicon-link about" %>
              </li>
              <li style="color:white;">
                <%= link_to "sign up", new_user_registration_path, class:"glyphicon glyphicon-log-in sign_up" %>
              </li>
              <li style="color:white;">
                <%= link_to "login", new_user_session_path, class:"glyphicon glyphicon-log-in sign_in" %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>

  <body>
    <%= yield %>
  </body>
</html>